.container {
  max-width: 30.6rem;
  background: var(--gray-2);
  height: 100%;
  width: 100%;
  min-width: 29rem;
  transition: 0.2s;
}

.container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.6rem;
  padding-right: 0.6rem;
  font-weight: 500;
  transition: 0.2s;
}

.container > div:not(.header):not(.current):hover {
  background: var(--gray-3);
}

.header {
  background: var(--gray);
  margin-bottom: 4.5rem;
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
}

.header img {
  max-width: 4rem;
  cursor: pointer;
}

.container .item {
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 2.3rem;
  color: var(--gray);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.item img {
  max-width: 3.7rem;
}

.current {
  background: var(--white);
}

.container span {
  transition: 200ms;
  overflow: hidden;
}

.container:not(.open) {
  max-width: 7rem;
  min-width: 7rem;
  overflow: hidden;
}

.container:not(.open) > div {
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
}

.container:not(.open) span {
  max-width: 0;
  position: absolute;
}

@media screen and (max-width: 600px) and (min-width: 452px) {
  .container.open {
    max-width: 7rem;
    min-width: 7rem;
    overflow: hidden;
  }

  .container.open > div {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }

  .container.open span {
    max-width: 0;
    position: absolute;
  }
}

@media screen and (max-width: 452px), screen and (max-height: 315px) {
  .container:not(.open) {
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
  }

  .container {
    display: flex;
    justify-content: space-between;
    min-width: 100vw;
    box-shadow: 0 0 26px 3px var(--gray-5);
    bottom: 0;
    height: fit-content;
    position: fixed;
  }

  .container .item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    text-align: center;
  }

  .container > div img {
    width: 3.2rem;
  }

  .container .header {
    display: none;
  }

  .container.open span {
    display: none;
  }
}
