.container {
  display: flex;
  flex-direction: column;
  color: var(--gray);
  max-width: 300px;
  padding: 1.5rem;
  gap: 6.2rem;
  align-items: center;
}

.buttons button {
  flex: 1;
  background: var(--blue);
  padding: 0.1rem 1.2rem;
  border-radius: 3px;
}

.buttons .close {
  background: var(--gray);
}

.buttons {
  display: flex;
  width: 100%;
  gap: 1.2rem;
}
