.container input {
  text-align: center;
  max-width: 20rem;
}

.container form {
  gap: 2.2rem;
}

.buttonBox,
.dualButtonBox {
  width: 100%;
}

.dualButtonBox {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 2.2rem;
}

.container button {
  background: var(--blue-1);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  width: 100%;
}

button.cancel {
  background-color: var(--red);
  flex: 0.26;
}

button.update {
  background: var(--gray);

  flex: 0.74;
}

.container .teamsBox {
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
