.container {
  padding: 2rem;
}

.content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content,
.previewBox,
.previewContent {
  display: flex;
}

.previewBox {
  justify-content: space-between;
}

.previewContent {
  height: 100%;
  justify-content: space-between;
}

.teamsBox {
  display: grid;
  grid-template-columns: 1fr 0.2fr 1fr;
  align-items: center;
  margin-bottom: 1.2rem;
}

.teamsBox .separator {
  font-weight: 700;
}

.teamsBox > div {
  overflow: hidden;
  height: 100%;
}

.teamsBox strong {
  text-transform: capitalize;
  font-weight: 600;
  white-space: nowrap;
}

.content {
  gap: 3.8rem;
  color: var(--gray);
}

.teamsBox img {
  object-fit: scale-down;
  max-height: 9.9rem;
  max-width: 9.9rem;
  width: 100%;
  height: 100%;
}

.dualInputBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  position: relative;
}

.previewBox {
  flex-direction: column;
  justify-content: space-between;
}

.previewContent .title {
  margin-bottom: 1.2rem;
  font-size: 2.7rem;
  font-weight: 500;
}

.previewContent {
  flex-direction: column;
}

.previewBox button {
  background: var(--blue-1);
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.inputBox input {
  padding: 1.3rem;
}

.container .inputBox label {
  font-size: 2.3rem;
  font-weight: 500;
  color: var(--gray);
  transform: translateY(-4.5rem);
}

.container .inputBox .dualInputBox label {
  transform: translateY(0);
  text-transform: none;
}

.container .teamsBox > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
