.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: var(--white);
  padding: 2rem;
}

.container > div {
  max-width: 136rem;
}

.close {
  top: 0;
  position: absolute;
  right: 0;
}

.teams {
  color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  gap: 3rem;
  text-align: center;
}

.teams .teamBox {
  user-select: none;
  flex: 0 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  font-weight: 700;
  font-size: 3.5rem;
  white-space: nowrap;
}

.teamBox img {
  max-width: 12rem;
}

.separator {
  font-weight: 700;
  font-size: 3.5rem;
}

.separator::before {
  content: "X";
}

.statusBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--gray-3);
}

.statusBox .statusName {
  background: var(--blue);
  padding: 0.4rem 4rem;
}

.statusBox .statusDetail {
  color: var(--gray);
}

.statusBox .statusDetail.opened {
  color: var(--red-2);
}
