.container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;
}

.content {
  overflow-y: scroll;
  overflow-wrap: break-word;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  padding: 2.8rem 3.1rem;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  gap: 2.9rem;
}

.soccerTable,
.leadboardTable {
  width: 100%;
  position: relative;
}

.soccerTable::before,
.leadboardTable::before {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid var(--gray);
  top: 1.5rem;
  left: -1px;
  bottom: -1px;
  right: -1px;
}

.soccerTable td button {
  background-color: var(--gray-5);
  color: var(--gray);
  max-width: 15.1rem;
  width: 100%;
  z-index: 100 !important;
  pointer-events: all;
}

.soccerTable td {
  padding-top: 0.2rem;
}

.soccerTable td:last-child {
  text-align: center;
}

.soccerTable thead,
.leadboardTable thead {
  border-top: 3rem solid var(--white);
}

.header {
  color: var(--gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 3rem;
  font-weight: 500;
}

.header button {
  background: var(--blue);
  border-radius: 8px;
  max-width: 11.2rem;
  width: 100%;
  font-weight: 400;
  font-size: 2.6rem;
  font-family: "Poppins", sans-serif;
  padding: 0.9rem 0.2;
}

@media screen and (max-width: 452px), screen and (max-height: 315px) {
  .content {
    padding-bottom: 8rem;
  }
}

@media screen and (max-width: 770px) {
  .soccerTable tr th:nth-last-child(3),
  .soccerTable td:nth-last-child(3) {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .soccerTable tr th:nth-last-child(-n + 2),
  .soccerTable td:nth-last-child(-n + 2) {
    display: soccerTable-cell;
  }
}

@media screen and (max-width: 648px) {
  .soccerTable tr th:nth-child(3),
  .soccerTable td:nth-child(1) {
    display: none;
  }
}
