.container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;
}

.content {
  overflow-y: scroll;
  overflow-wrap: break-word;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  padding: 2.8rem 3.1rem;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  gap: 2.9rem;
}

@media screen and (max-width: 452px), screen and (max-height: 315px) {
  .content {
    padding-bottom: 8rem;
  }
}
