.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  z-index: 10;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.5rem;
  user-select: none;
}

.content h1 {
  font-weight: 700;
  font-size: 6.8rem;
}

.content button {
  font-weight: 400;
  background: transparent;
  border: 1px solid var(--white);
  border-radius: 8px;
  padding: 0.9rem 10rem;
  transition: 0.2s;
}

.content button:hover {
  background: var(--blue);
  border-color: var(--blue);
}

.loading::after {
  content: " ";
  display: block;
  animation: 1.8s wow infinite ease-in-out;
}

@keyframes wow {
  0%,
  100% {
    opacity: 0;
    content: ".";
  }

  18%,
  89% {
    opacity: 1;
  }

  40% {
    content: "..";
  }

  70% {
    opacity: 1;
    content: "...";
  }
}
