/* DOCS - STYLES */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: clamp(7px, 10px, 0.5vw);
  --blue: #2c9ed6;
  --blue-1: #0e83bc;
  --blue-2: #227ca9;
  --blue-3: #002c72;
  --blue-4: #0a64a6;
  --yellow: #fff500;
  --red: #c32830;
  --light-red: #f2dedf;
  --gray: #262626;
  --gray-1: #565656;
  --gray-2: #d7d7d7;
  --gray-3: #bdbdbd;
  --black: #000000;
  --white: #ffffff;
  --white-1: #e8e8e8;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  transition: 0.2s;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}

body,
input,
button {
  font: 400 2.4rem "Poppins", sans-serif;
  border: 0;
  color: var(--white);

  font-style: normal;

  overflow-x: hidden;
}

h1 {
  line-height: 1.5;
}

button {
  cursor: pointer;
}

input,
label {
  font: 500 3rem "Karla", sans-serif;
  outline: none;
}

input::placeholder {
  color: var(--white);
}

/* CLASS - STYLES */
.container-fwh {
  height: 100vh;
  width: 100vw;
}
